:root {
  --primary-font: "Roboto", sans-serif;
  --primary-text-color: #404040;
  --secondary-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #161f49;
  --button-bg-color: #2468ff;
  --accent-color: #2196f3;
  --button-text-color: #999999;
  --overlay-color: #646565;
  --wifi-color: #000000;
  --hero-background-color: rgba(0, 0, 0, 0.5);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

button {
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

.button {
  background-color: var(--button-bg-color);
  color: var(--secondary-text-color);
  border: none;
  text-transform: uppercase;
}

.header__marketing {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6428571429;
  letter-spacing: 0.10998px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__box {
  display: flex;
  align-items: center;
}

.header__button {
  margin-left: auto;
  padding: 28px 64px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7857142857;
  letter-spacing: 0.10998px;
  transition: background-color 250ms var(--timing-function);
}
.header__button:hover, .header__button:focus {
  background-color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  padding: 0 36px;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-left: 195px;
}

.navigation__link {
  padding-top: 30px;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.10998px;
  transition: color 250ms var(--timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.hero {
  position: relative;
  padding-top: 120px;
  padding-bottom: 367px;
  text-align: center;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--hero-background-color);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero@2x.jpg");
  }
}

.hero__image {
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translateX(50%);
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1111111111;
  color: var(--secondary-text-color);
}

.hero__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.380952381;
  color: var(--secondary-text-color);
}

.hero__button {
  padding-top: 16px;
  padding-bottom: 21px;
  padding-left: 37px;
  padding-right: 37px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.11px;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid var(--primary-background-color);
  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.amazon {
  padding-top: 110px;
  text-align: center;
}

.amazon__label {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
}

.amazon__icon {
  margin-bottom: 27px;
}

.amazon__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 116px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-text-color);
  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.amazon__button:hover, .amazon__button:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.amazon__thumb {
  width: 736px;
  margin: 0 auto;
}

.amazon__title {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}

.amazon__text {
  margin-bottom: 78px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
}

.amazon__btn {
  padding-top: 17px;
  padding-bottom: 21px;
  padding-left: 37px;
  padding-right: 37px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.11px;
  transition: background-color 250ms var(--timing-function);
}
.amazon__btn:hover, .amazon__btn:focus {
  background-color: var(--accent-color);
}

.features {
  padding-top: 580px;
  padding-bottom: 80px;
  color: var(--secondary-text-color);
  background-color: var(--button-text-color);
  background-image: url("../images/wifi.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .features {
    background-image: url("../images/wifi@2x.jpg");
  }
}

.features__list {
  display: flex;
  justify-content: center;
  margin-bottom: 89px;
  gap: 240px;
}

.features__item {
  width: 400px;
}

.features__item:last-child {
  width: 542px;
}

.features__description {
  display: inline-block;
  margin-bottom: 17px;
  padding-top: 1px;
  padding-right: 13px;
  padding-bottom: 1px;
  padding-left: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  text-transform: uppercase;
  border-radius: 18px;
  color: var(--wifi-color);
  background-color: var(--primary-background-color);
}

.features__title {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2222222222;
}

.features__property {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.1428571429;
}

.features__text {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
}

.features__price {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
}

.features__price-weight {
  font-weight: 700;
}

.features__btn {
  padding-top: 17px;
  padding-right: 70px;
  padding-bottom: 21px;
  padding-left: 71px;
  transition: background-color 250ms var(--timing-function);
}
.features__btn:hover, .features__btn:focus {
  background-color: var(--accent-color);
}

.features__button {
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  background-color: transparent;
  border: none;
  color: var(--secondary-text-color);
  border-bottom: 1px solid var(--primary-background-color);
  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.features__button:hover, .features__button:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.journal {
  padding-top: 200px;
  padding-bottom: 205px;
  background-color: var(--primary-text-color);
}

.journal__title {
  width: 823px;
  margin: 0 auto;
  margin-bottom: 49px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1428571429;
  color: var(--secondary-text-color);
}

.journal__icon {
  display: block;
  margin: 0 auto;
}

.potential {
  padding-top: 168px;
  padding-bottom: 149px;
  text-align: center;
  background-image: url("../images/potential.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: var(--secondary-text-color);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .potential {
    background-image: url("../images/potential@2x.jpg");
  }
}

.potential__list {
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.potential__title {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}

.potential__text {
  width: 734px;
  margin: 0 auto;
  margin-bottom: 118px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
}

.potential__button {
  padding-top: 17px;
  padding-right: 66px;
  padding-bottom: 21px;
  padding-left: 65px;
  transition: background-color 250ms var(--timing-function);
}
.potential__button:hover, .potential__button:focus {
  background-color: var(--accent-color);
}

.home {
  padding-top: 135px;
  padding-bottom: 120px;
  text-align: center;
}

.home_title {
  width: 782px;
  margin: 0 auto;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}

.home_text {
  width: 707px;
  margin: 0 auto;
  margin-bottom: 78px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
}

.home_image {
  margin: 0 auto;
}

.true-mesh {
  padding-top: 117px;
  padding-bottom: 124px;
  text-align: center;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}

.true-mesh__title {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}

.true-mesh__text {
  width: 710px;
  margin: 0 auto;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
}

.true-mesh__button {
  margin-bottom: 50px;
  padding-top: 17px;
  padding-right: 43px;
  padding-bottom: 21px;
  padding-left: 43px;
  transition: background-color 250ms var(--timing-function);
}
.true-mesh__button:hover, .true-mesh__button:focus {
  background-color: var(--accent-color);
}

.true-mesh_image {
  margin: 0 auto;
}

.about {
  padding-top: 116px;
  padding-bottom: 119px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */