.about {
  padding-top: 116px;
  padding-bottom: 119px;

  &__title {
    margin-bottom: 83px;
    text-align: center;
    @include font(400, 50px, 60px, null);
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 167px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 199px;
    height: 427px;
  }

  &__icon {
    margin-bottom: 32px;
  }

  &__description {
    margin-bottom: 17px;
    @include font(400, 21px, 24px, null);
  }

  &__text {
    @include font(400, 18px, 25px, null);
  }

  &__button {
    display: block;
    margin-right: auto;
    margin-top: auto;
    padding-bottom: 5px;
    text-align: center;
    @include font(400, 14px, 16px, null);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-text-color);
    transition: border-color 250ms var(--timing-function),
      color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}
