.features {
  padding-top: 580px;
  padding-bottom: 80px;
  color: var(--secondary-text-color);
  background-color: var(--button-text-color);
  background-image: url("../images/wifi.jpg");
  @include retina {
    background-image: url("../images/wifi@2x.jpg");
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 89px;
    gap: 240px;
  }

  &__item {
    width: 400px;
  }

  &__item:last-child {
    width: 542px;
  }

  &__description {
    display: inline-block;
    margin-bottom: 17px;
    padding-top: 1px;
    padding-right: 13px;
    padding-bottom: 1px;
    padding-left: 14px;
    @include font(700, 16px, 21px, null);
    text-transform: uppercase;
    border-radius: 18px;
    color: var(--wifi-color);
    background-color: var(--primary-background-color);
  }

  &__title {
    margin-bottom: 13px;
    @include font(400, 36px, 44px, null);
  }

  &__property {
    margin-bottom: 20px;
    @include font(400, 42px, 48px, null);
  }

  &__text {
    margin-bottom: 33px;
    @include font(400, 18px, 25px, null);
  }

  &__price {
    margin-bottom: 36px;
    @include font(400, 18px, 25px, null);
  }

  &__price-weight {
    font-weight: 700;
  }

  &__btn {
    padding-top: 17px;
    padding-right: 70px;
    padding-bottom: 21px;
    padding-left: 71px;
    transition: background-color 250ms var(--timing-function);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    @include font(400, 14px, 16px, null);
    background-color: transparent;
    border: none;
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--primary-background-color);
    transition: border-color 250ms var(--timing-function),
      color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}
