:root {
  --primary-font: "Roboto", sans-serif;
  --primary-text-color: #404040;
  --secondary-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #161f49;
  --button-bg-color: #2468ff;
  --accent-color: #2196f3;
  --button-text-color: #999999;
  --overlay-color: #646565;
  --wifi-color: #000000;
  --hero-background-color: rgba(0, 0, 0, 0.5);
  --accent-btn-color: #dedede;
  --placeholder-color: #989898;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
