:root {
  --primary-font: "Roboto", sans-serif;
  --primary-text-color: #404040;
  --secondary-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #161f49;
  --button-bg-color: #2468ff;
  --accent-color: #2196f3;
  --button-text-color: #999999;
  --overlay-color: #646565;
  //   --transparent-color: rgba(255, 255, 255, 0.6);
  //   --icon-color: #afb1b8;
  //   --bg-icon-color: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
